body { 
    font-family: 'Nunito', sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    text-align: center;
}

.perfil1 img {
    height: 100px;
    width: auto;
    object-fit: cover;
    border-radius: 4px;
}

.perfil2 img {
    height: 100px;
    width: auto;
    object-fit: cover;
    border-radius: 4px;  
}

.perfil3 img {
    height: 100px;
    width: auto;
    object-fit: cover;
    border-radius: 4px;  
}

.perfil4 img {
    height: 100px;
    width: auto;
    object-fit: cover;
    border-radius: 4px;  
}

.flex {
    display: flex;
    justify-content: center;
    gap: 40px ;
}

.flex1 {
    display: flex;
    justify-content: center;
    gap: 40px ;
}


