header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    margin-bottom: 16px;
  }
  
  .header-space {
    flex: 1;
  }

  h1 {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
  }
  
  .done-btn {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    flex: 1;
    text-align: right;
  }

body { 
    font-family: 'Nunito', sans-serif;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

.perfil1 img {
    height: 100px;
    width: auto;
    object-fit: cover;
    border-radius: 4px;
}

.perfil2 img {
    height: 100px;
    width: auto;
    object-fit: cover;
    border-radius: 4px;  
}

.perfil3 img {
    height: 100px;
    width: auto;
    object-fit: cover;
    border-radius: 4px;  
}

.perfil4 img {
    height: 100px;
    width: auto;
    object-fit: cover;
    border-radius: 4px;  
}

.flex {
    display: flex;
    justify-content: center;
    gap: 40px ;
}

.flex1 {
    display: flex;
    justify-content: center;
    gap: 40px ;
}


